<div class="col-lg-12 col-sm-12 mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3 px-lg-3 shadow">
        <div class="container-fluid">
          <!-- Logo ou nom de la plateforme -->
          <a class="navbar-brand fw-bold" href="#">JobConnect.com</a>
      
          <!-- Bouton pour menu burger en mode mobile -->
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <!-- Contenu du menu -->
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            
            <!-- Menu centré -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">

                <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/home">Acceuil |</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/offers_freelance">Offres IT Freelance |</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/candidates">Candidats |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" routerLink="/job-offers">Offres d'emploi |</a>
              </li>
              
                <li class="nav-item">
                    <a class="nav-link me-2" routerLink="/companies">Entreprises</a>
                </li>
            </ul>
      
            <div class="d-flex align-items-center">
              <!-- Si connecté et rôle OWNER ou CANDIDATE -->
              <ng-container *ngIf="authService.isAuthenticated() && (role.getUserRole() === 'OWNER' || role.getUserRole() === 'CANDIDATE'); else guestButtons">
                <div class="dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon compte
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg border-0 rounded-0">
                    <li>
                      <a class="dropdown-item text-success"
                        [routerLink]="role.getUserRole() === 'OWNER' ? '/owners/owners/my_job_offers' : (role.getUserRole() === 'CANDIDATE' ? '/users/users/diplomas' : '/')">
                        <i class="fa-solid fa-circle-user me-2"></i> Gérer mon compte
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item text-danger" (click)="logout()">
                      <i class="fa-solid fa-right-from-bracket me-2"></i> Déconnexion
                    </a>
                  </li>
                  </ul>
                </div>
              </ng-container>

              <!-- Si NON connecté -->
              <ng-template #guestButtons>
                <a routerLink="/login" class="btn btn-outline-primary me-2">Se connecter</a>
                <a routerLink="/create-account" class="btn btn-primary">S'inscrire</a>
              </ng-template>
            </div>
