<app-navbar></app-navbar>


<br><br><br><br>

<!-- Section Inscription Express -->
<div class="container-fluid bg-light py-5">
  <div class="container">
    <h2 class="text-center fw-bold mb-5 title">Inscription Express</h2>
    
    <div class="row align-items-center">
      
      <!-- Candidat -->
      <div class="col-md-6 text-center mb-4 mb-md-0">
        <h4 class="fw-bold mb-3">Candidat</h4>
        <img src="assets/images/inscription-candidat.png" alt="Candidat" class="img-fluid mb-3" style="height: 180px;">
        <p>Rejoignez des centaines d'offres adaptées à votre profil.</p>
        <a routerLink="/candidates/create-account" class="btn btn-primary px-4 py-2 rounded-pill">
            Cliquez ici <i class="fa-solid fa-right-long"></i>
        </a>
      </div>
      
      <!-- Recruteur -->
      <div class="col-md-6 text-center">
        <h4 class="fw-bold mb-3">Recruteur</h4>
        <img src="assets/images/inscription-recruteur.png" alt="Recruteur" class="img-fluid mb-3" style="height: 180px;">
        <p>Publiez vos offres et trouvez les meilleurs talents.</p>
        <a routerLink="/owners/create-account" class="btn btn-primary px-4 py-2 rounded-pill">
            Cliquez ici <i class="fa-solid fa-right-long"></i>
        </a>
      </div>

    </div>
  </div>
</div>
